/* these values should match those found in ./theme.js */

// Colours
$white: #fff;
$black: #000;
$white-off: #EEEEEE;
$grey: #39384A;
$grey-light: #D9D9D9;
$red: #dc3545;
$blue: #8fcecd;
$maroon: #941C55;
$orange: #FF5A3C;

// Theme
$primary: $maroon;
$alt: #fcbb19;
$highlight: $white;
$background: $black;
$text: $white;
$error: $red;
