/* Colours */
$White: #EEF5DB;
$Orange: #f44708;
$Blue: #122932;
$Blue-Light: #AEDCC0;
$Pink: #E3C0D3;
$Pink-Dark: #95818D;
$Cream: #CFD4C5;

/* Colour Config */
$Background-Colour: $Cream;
$Theme-Colour: $Blue-Light;
$Highlight-Colour: $Pink;
$Text-Colour: $Blue;
$Danger-Colour: $Orange;

/* Fonts */
$Poppin: 'Poppins', sans-serif;

/* Font Config */
$Font-Family: $Poppin;

/* Layout */
$Header-Height: 90px;
$Footer-Height: 50px;
$Frame-Width: 1140px;
$Mobile-Width: 767px;
