//Whites
$white2: #fcfcfc; //TODO: sort out the colours for the site
//Grays


//Colours
$orange: #ffeecc;
$green: #ccffcc;
$yellow: #eec215;
$blue: #007bff; // bootstrap link default
$red: #dc3545; // bootstrap text-danger default

// #Todo: ensure the above are no longer used and then remove

// Colours
$white: #fff;
$white-off: #f8f8f8;
$grey: #e0e0e0;
$grey-pale: #E9EAEF;
$grey-light: #f0f0f0;
$grey-dark: #5A6277;
$grey-darker: #424857;
$blue-light: #00D5C3;
$blue-dark: #1B253D;
